<div class="container mt-5">
 <div class="form-group" class="box">
  <div>

  </div>
 <select  [(ngModel)]="viajeros" >
  <option value="">All Status</option>
  <option>Solved</option>
  <option>Open</option>
  <option>Pending</option>
 </select>
 <app-boton></app-boton>

  </div>
  <br>
  <table>
    <thead>
      <tr>
        <th scope="col">User Name</th>
        <th scope="col">Subject</th>
        <th scope="col">Customer Satisfaction</th>
        <th scope="col">Priority</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let viajeros of Viajeros | filter:viajeros ">
        <td scope="row">{{ viajeros.User_Name }}</td>
        <td scope="row">{{ viajeros.Subject }}</td>
        <td scope="row">{{ viajeros.Customer_Satisfaction }}</td>
        <td>{{ viajeros.Priority }}</td>
        <td>{{ viajeros.Status }}</td>
      </tr>
    </tbody>
  </table>
</div>



